.small-input {
    width: 40vw !important; /* Largeur de l'input */
}

svg {
    width: 1.5vw !important;
    fill: white !important; /* Changer la couleur de remplissage des SVG en blanc */
    margin-right: 10px;
}


.nav-content1 {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les éléments */
    color: white;
    width: 90%; /* Largeur à 100% */
    max-width: 100%; /* Largeur maximale */
    padding: 0 20px; /* Ajouter un espacement horizontal */
}

.nav-content2 {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les éléments */
    color: white;
    width: 90%; /* Largeur à 100% */
    max-width: 90%; /* Largeur maximale */
    margin-top: 1vh;
    padding: 0 20px; /* Ajouter un espacement horizontal */
    
}
.trait{
    border-top: 1px solid white;
    width: 100%;
}



.div-nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alignement horizontal */
    background-color: #1b6392;
    padding-top: 1vw !important;
    padding-bottom: 1vw !important;
    
}



.div-svg{
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    border-right: 1px solid white;

}
.div-svg span{
    margin-right: 1.5vw !important;
    
}
.panier{
    width: 2vw !important;
}
.langue{
    margin-left: -170px !important;
}

/* Style du bouton du dropdown */
.btn-secondary {
    background-color: #1b6392 !important;
    color: white !important;
    border: none !important;
}

/* Style des liens du dropdown */
.dropdown-item {
    color: #1b6392 !important;
}

/* Changement de couleur au survol des liens */
.dropdown-item:hover {
    background-color: #1b6392 !important;
    color: white !important;
}
