:root{
    --blackColor: rgb(25, 28, 31);
    --greyColor: rgb(146, 159, 165);
    --yellowColor: rgb(235, 200, 12);
    --orangeColor: rgb(250, 130, 50);
}
.small-input {
    width: 40vw !important; /* Largeur de l'input */
}

svg {
    width: 1.5vw !important;
    fill: white !important; /* Changer la couleur de remplissage des SVG en blanc */
    margin-right: 10px;
}


.nav-content1 {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les éléments */
    color: white;
    width: 90%; /* Largeur à 100% */
    max-width: 100%; /* Largeur maximale */
    padding: 0 20px; /* Ajouter un espacement horizontal */
}

.nav-content2 {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les éléments */
    color: white;
    width: 90%; /* Largeur à 100% */
    max-width: 90%; /* Largeur maximale */
    margin-top: 1vh;
    padding: 0 20px; /* Ajouter un espacement horizontal */
    
}
.trait{
    border-top: 1px solid white;
    width: 100%;
}



.div-nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alignement horizontal */
    background-color: #1b6392;
    padding-top: 1vw !important;
    padding-bottom: 1vw !important;
    
}



.div-svg{
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    border-right: 1px solid white;

}
.div-svg span{
    margin-right: 1.5vw !important;
    
}
.panier{
    width: 2vw !important;
}
.langue{
    margin-left: -170px !important;
}

/* Style du bouton du dropdown */
.btn-secondary {
    background-color: #1b6392 !important;
    color: white !important;
    border: none !important;
}

/* Style des liens du dropdown */
.dropdown-item {
    color: #1b6392 !important;
}

/* Changement de couleur au survol des liens */
.dropdown-item:hover {
    background-color: #1b6392 !important;
    color: white !important;
}

footer{
    background-color: var(--blackColor);
    color: var(--greyColor);
    font-size: 11px;
} 
footer h3:not(footer > div > ul > li:nth-child(1) > h3){
    font-weight: 350;
}
footer > div > ul > li:nth-child(2) a,
footer > div > ul > li:nth-child(3) a{
    color: var(--greyColor);
}
footer > div > ul > li:nth-child(2) a:hover,
footer > div > ul > li:nth-child(3) a:hover,
footer > div > ul > li:nth-child(2) > ul > li:last-child > a{
    color: var(--yellowColor);
}
footer > div > ul > li:last-child button{
    background-color: var(--blackColor);
    border: 1.5px solid rgb(48, 54, 57);
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
}
footer > div > ul > li:last-child button:hover{
    border: 1.5px solid white;
    background-color: rgb(52, 52, 52);
}
.divider{
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--yellowColor);
    border-radius: 2px;
    margin-right: 5px;
    position: relative;
    bottom: 3px;
}
footer > div > ul > li:nth-child(4){
    width: 150px;
}
footer > div > ul > li:nth-child(4) button{
    background-color: rgb(48, 54, 57);
    border-radius:2px;
}

.checked{
    color: var(--orangeColor);
}
input[type="radio"]:checked {
    background-color: var(--orangeColor);
    border-color: var(--orangeColor);
    box-shadow:none;
}
.product-price span{
    color: rgb(45, 165, 243);
}
.product-desc span{
    font-size: .85rem;
}
.product-rate span{
    font-size: 11px;
    position: relative;
    bottom: 3px;
}