{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container ">
        <div class="row pt-5 pb-5">
            <section class="col-md-3 mt-5">
                <h3 class="fs-6">CATEGORIE DE PRODUITS</h3>
                <div>
                    <div class="form-check">
                        <a href="{% url 'home-path' %}"><input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked="checked"></a>
                        <label class="form-check-label " for="flexRadioDefault1">
                        Tous les produits
                        </label>
                    </div>
                    {% for c in categories %}
                        <div class="form-check">
                            <a href="{% url 'categorie-path' c.titre %}"><input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"></a>
                            <label class="form-check-label " for="flexRadioDefault1">
                            {{ c.titre }}
                            </label>
                        </div>
                    {% endfor %}   
                </div>
            </section>
            <section class="col-md-9 d-flex flex-wrap ">
                {% for p in produits %}
                    <div class="product-cart col-md-3 mb-2">
                        <article class="me-2 px-3 border">
                            <div class="img-product d-flex justify-content-center  pb-1">
                                <img src="/static{{ p.image.url }}" width="202" height="195" alt="" class="">
                            </div>
                            <div class="product-action d-none">
                                <a href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.25 20.25C8.25 20.6642 7.91421 21 7.5 21C7.08579 21 6.75 20.6642 6.75 20.25C6.75 19.8358 7.08579 19.5 7.5 19.5C7.91421 19.5 8.25 19.8358 8.25 20.25Z" fill="#191C1F" stroke="#191C1F" stroke-width="1.5"/>
                                        <path d="M17.25 21.75C18.0784 21.75 18.75 21.0784 18.75 20.25C18.75 19.4216 18.0784 18.75 17.25 18.75C16.4216 18.75 15.75 19.4216 15.75 20.25C15.75 21.0784 16.4216 21.75 17.25 21.75Z" fill="#191C1F"/>
                                        <path d="M3.96562 6.75H20.7844L18.3094 15.4125C18.2211 15.7269 18.032 16.0036 17.7711 16.2C17.5103 16.3965 17.1922 16.5019 16.8656 16.5H7.88437C7.55783 16.5019 7.2397 16.3965 6.97886 16.2C6.71803 16.0036 6.52893 15.7269 6.44062 15.4125L3.04688 3.54375C3.00203 3.38696 2.9073 3.24905 2.77704 3.15093C2.64677 3.05282 2.48808 2.99983 2.325 3H0.75" stroke="#191C1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                                        
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-rate mb-1">
                                    <div class="star d-inline-block">
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                    </div>
                                    <span class="d-inline-block">(738)</span>
                                </div>
                                <div class="product-desc mb-2">
                                    <a href="#" class="fw-medium text-decoration-none text-dark">{{ p.titre }}</a> 
                                </div>
                                <div class="product-price mb-2">
                                    <span class="fw-medium">{{ p.prix }}$</span>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
                
            </section>
            <div class="col-md-3"></div>
            <div class="my-5 col-md-9 d-flex justify-content-center">
                <div>
                    <ul class="pagination my-auto">
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle"><i class="fa-solid fa-arrow-left" style="color: #fa8232;"></i></a></li>
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">01</a></li>
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">02</a></li>
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">03</a></li>
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">04</a></li>
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">05</a></li>
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">06</a></li>
                        <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle"><i class="fa-solid fa-arrow-right" style="color: #fa8232;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>   
    </div>

{% endblock  %}