{% load static %}
<footer class="">
    <div class="container pt-5">
            <ul class="sitemap d-flex flex-wrap row ">
                <li class="list-unstyled col-12 col-md-auto mb-4 me-md-4">
                    <h3 class="text-white mb-4 fs-4">
                        <svg width="40" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24ZM36 24C36 30.6274 30.6274 36 24 36C17.3726 36 12 30.6274 12 24C12 17.3726 17.3726 12 24 12C30.6274 12 36 17.3726 36 24ZM24 32C28.4183 32 32 28.4183 32 24C32 19.5817 28.4183 16 24 16C19.5817 16 16 19.5817 16 24C16 28.4183 19.5817 32 24 32Z" fill="#FA8232"/></svg>
                        Boutique DIC1
                    </h3> 
                    <ul class="px-0">
                        <li class="list-unstyled mb-2">Assistance client: <span class="d-table fs-6 text-white">775858575</span></li>
                        <li class="list-unstyled mb-2">4517 Aloup Kagne. <span class="d-table">Senegal, Thies EPT</span> </li>
                        <li class="list-unstyled"><a class="text-decoration-none text-white" href="#">ept@ept.sn</a></li>
                    </ul>
                </li>
                <li class="list-unstyled col-12 col-md-auto mb-4">
                    <h3 class="fs-6 text-white mb-3">CATEGORIE SUPERIEURE</h3>
                    <ul class="px-0">
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Ordinateur et ordinateur portable</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Téléphone intelligent</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">casque de musique</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none text-white " href="#"><span class="divider"></span> Accessoires</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Appareil photo et photo</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Télévision et maisons</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Parcourir tous les produits
                            <svg width="20" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" fill="#ebc80c"/></svg>
                        </a></li>
                    </ul>
                </li>
                <li class="list-unstyled col-12 col-md-auto mb-4">
                    <h3 class="fs-6 text-white mb-3 me-5">LIEN RAPIDES</h3>
                    <ul class="px-0">
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Acheter le produit</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Panier</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Liste de souhaits</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">comparateur</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Suivi de commande</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">Aide client</a></li>
                        <li class="list-unstyled mb-2"><a class="text-decoration-none" href="#">À propos de nous</a></li>
                    </ul>
                </li>
                <li class="list-unstyled col-12 col-md-auto  me-md-4 mb-4 ">
                    <h3 class="fs-6 mb-4 text-white">TELECHARGER L'APPLICATION</h3>
                    <ul class="px-0">
                        <li class="list-unstyled mb-2 ">
                            <button class="border-0 d-flex align-items-center py-2">
                                <i class="fa-brands fa-google-play fs-4" style="color:white"></i>
                                <span class="d-flex flex-column text-white">
                                    <span>Obtenez le maintenant</span>
                                    <span class="fs-6 d-table">Google Play</span>
                                </span>
                            </button>
                        </li>
                        <li class="list-unstyled mb-4 ">
                            <button class="border-0 d-flex align-items-center py-2">
                                <i class="fa-brands fa-apple fs-3" style="color:white"></i>                                
                                <span class="d-flex flex-column text-white ">
                                    <span>Obtenez le maintenant</span>
                                    <span class="fs-6 d-table">App Store</span>
                                </span>
                            </button>
                        </li>
                    </ul>
                </li> 
                <li class="list-unstyled col-12 col-md-3 col-xl-3">
                    <h3 class="fs-6 mb-4 text-white">BALISE POPULAIRE</h3>
                    <ul class="d-flex flex-wrap px-0">
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Jeu</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Iphone iphone</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">la tele</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Ordinateurs portables Asus</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Livre de MacBook</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">SSD</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Parfois graphique est</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Banque de puissance</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Téléviseur intelligent</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Conférencier</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Tablette</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Quatre micro onde</a></button></li>
                        <li class="list-unstyled"><button><a class="text-decoration-none text-white" href="#">Samsung</a></button></li>
                    </ul>
                </li>
            </ul>
    </div>
    <hr class="pb-5">
</footer>