{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container ">
        <div class="row pt-5 pb-5">
            <section class="col-md-3 mt-5">
                <h3 class="fs-6">CATEGORIE DE PRODUITS</h3>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label " for="flexRadioDefault1">
                        Tous les produits
                        </label>
                    </div>
                    {% for c in categories %}
                        <div class="form-check">
                            {% if  c.titre  ==  categorie.titre  %}
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked="checked">
                            {% else %}
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            {% endif %}
                            <label class="form-check-label " for="flexRadioDefault1">
                            {{ c.titre }}
                            </label>
                        </div>
                    {% endfor %}   
                </div>
            </section>
            <section class="col-md-9 d-flex flex-wrap ">
                {% for p in produits %}
                    <div class="product-cart col-md-3 mb-2">
                        <article class="me-2 px-3 border">
                            <div class="img-product d-flex justify-content-center  pb-1">
                                <img src=" static{{ p.image.url }}" width="202" height="195" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-rate mb-1">
                                    <div class="star d-inline-block">
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                        <i class="fa-solid fa-star fa-xs" style=" color: #FA8232;" ></i>
                                    </div>
                                    <span class="d-inline-block">(738)</span>
                                </div>
                                <div class="product-desc mb-2">
                                    <a href="#" class="fw-medium text-decoration-none text-dark">{{ p.titre }}</a> 
                                </div>
                                <div class="product-price mb-2">
                                    <span class="fw-medium">{{ p.prix }}$</span>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
                <div class="my-5 w-100 d-flex justify-content-center">
                    <div>
                        <ul class="pagination my-auto">
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle"><i class="fa-solid fa-arrow-left" style="color: #fa8232;"></i></a></li>
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">01</a></li>
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">02</a></li>
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">03</a></li>
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">04</a></li>
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">05</a></li>
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle">06</a></li>
                            <li class="page-item mx-1"><a href="#" class="page-link btn rounded-circle"><i class="fa-solid fa-arrow-right" style="color: #fa8232;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </section>
            
        </div>   
    </div>

{% endblock  %}